@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    width: 100%;
    font-size: 100%;
}
a{
    text-decoration: none;
    list-style: none;
}
img{
    max-width: 100%;
}
p{
    margin: 0;
    padding: 0;
    overflow-wrap: normal;
}

/*header*/
header{
    width: 100%;
}
header .top {
    background-color: #840FB1;
    display:flex;  
}
header .top a{
    color:white;
    font-size: 1.6rem;
    margin: 1rem 1.9rem 1rem 1.9rem;
    justify-content: flex-start;
}
header .top a:nth-of-type(1){
    margin-left: 3.1rem;
    margin-right:auto;
}
header .top a:nth-of-type(4){
    margin-right: 3.1rem;
}
.menu{
    display: none;
}

/*home-content*/
.home-content{
    display:flex;
    width: 100%;
    height: 100%;
    margin: 5rem 0 3.1rem 0;
}
.home-content .text{
    width: 60%;
    height: 100%;
    padding: 5rem;
}
.home-content h1{
    font-size: 2.2rem;
    text-align: center;
}
.home-content p{
    margin: 2.5rem;
    font-size: 1.7rem;
    line-height: 1.3;
    overflow-wrap: normal;
}
.home-content .name{
    margin-left: 30rem;
}
.home-content .picture{
    width: 30%;
    margin: 4rem;
}
.home-content .picture img{
    width:100%;
    height: 90%;
    margin: 0 1rem 0 4rem;
}


/*sub-content*/
.sub-content{
    background-color: rgb(244, 243, 243);
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
}
.sub-content h2{
    text-align: center;
    font-size: 2rem;
    position: relative;
    top:1.9rem;
    margin: 1.9rem;
}
.sub-content .container{
    display: flex;
    margin-left: 9.4rem;
}
.sub-content img{
    width: 31.3rem;
    height: 18.8rem;
    margin: 1.3rem 5.6rem 1.3rem 0;
}
.sub-content .text{
    font-size:1.3rem;
    margin: 1.3rem 6.3rem 0 1.3rem;
}

/*footer*/
footer {
    width: 100%;
    height: 160px;
    background-color: #840FB1;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    padding: 1em;

    color: white;
}
footer li:not(:first-child) {
    margin-top: 4px;
}
footer span {
    margin-top: 18px;
    font-size: 20px;
}
footer a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
}

/*レスポンシブ*/

/*タブレット用*/
@media screen and (max-width: 980px ) {
    header{
        height: 80%;
    }
    header .top a{
        margin: 0 0 0 0;
    }
    header .top a:nth-of-type(1){
        font-size:1.3rem;
        margin: 0.6rem 0 0.6rem 0.6rem;
    }
    header .top a:nth-of-type(2){
        display: none;
    }
    header .top a:nth-of-type(3){
        display: none;
    }
    header .top a:nth-of-type(4){
        display: none;
    }
    .menu{
        display: block;
    }
    .menu-btn {
        position: relative;
        bottom:1.9rem;
        margin-left: auto;
        margin-right: 1rem;
        display: flex;
        height: 1rem;
        width: 1.9rem;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: rgb(142, 25, 189);
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 0.2rem;
        width: 1.6rem;
        border-radius: 0.2rem;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 0.5rem;
    }
    .menu-btn span:after {
        top: 0.5rem;
    }
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: rgb(142, 25, 189);
        transition: all 0.5s;
    }
    .menu-content a{
        color: #ffffff;
        font-size: 1.3rem;
    }
    .menu-content ul li:nth-of-type(1){
        margin:1.3rem;
    }
    .menu-content ul li:nth-of-type(2){
        font-size: 1.1rem;
        margin: 1.3rem 1.3rem 1.3rem 1.7rem;
        padding: 0.5rem;;
        border-bottom: solid #ffffff;
    }
    .menu-content ul li:nth-of-type(3){
        font-size: 1.1rem;
        margin: 1.3rem 1.3rem 1.3rem 1.7rem;
        padding: 0.5rem;
        border-bottom: solid #ffffff;
    }
    .menu-content ul li:nth-of-type(4){
        font-size: 1.1rem;
        margin: 1.3rem 1.3rem 1.3rem 1.7rem;
        padding: 0.5rem;
        border-bottom: solid #ffffff;
    }
    .menu-content ul li:nth-of-type(5){
        font-size: 1.1rem;
        margin: 1.3rem 1.3rem 1.3rem 1.7rem;
        padding: 0.5rem;
        border-bottom: solid #ffffff;
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    /*home-content*/
    .home-content{
        display:flex;
        width: 100%;
        height: 100%;
        margin: 2rem 0 3.1rem 0;
    }
    .home-content .text{
        width: 60%;
        height: 100%;
        padding: 3rem 2rem 3rem 2rem;
    }
    .home-content h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .home-content p{
        margin: 1.3rem 0 1.3rem 0;
        font-size: 0.9rem;
        line-height: 1.3;
        overflow-wrap: normal;
    }
    .home-content .name{
        margin-left: 14rem;
    }
    .home-content .picture{
        width: 40%;
        margin: 3rem;
    }
    .home-content .picture img{
        width: 100%;
        height: 80%;
        margin: 0 0 0 1rem;
    }


    /*sub-content*/
    .sub-content .container{
        display: flex;
        margin: 1rem;
    }
    .sub-content img{
        width: 20rem;
        height: 12rem;
        margin: 1.4rem 0 1.4rem 0;
        text-align: center;
    }
    .sub-content .text{
        font-size:1.3rem;
        margin: 1.3rem 0 3rem 0;
        text-align: center;
    }
    .text span{
        width: 100%;
        margin: 0 13rem 0 0;
    }
    .sub-content .text p{
        width: 80%;
        margin: 0.2rem 1rem 0 2rem;
        font-size: 1rem;
        text-align: left;
        overflow-wrap: normal;
    }
}

/*スマホ用*/
@media screen and (max-width:480px){
    /*header*/
    header{
        height: 80%;
    }
    header .top a{
        margin: 0 0 0 0;
    }
    header .top a:nth-of-type(1){
        font-size:1.3rem;
        margin: 0.6rem 0 0.6rem 0.6rem;
    }
    header .top a:nth-of-type(2){
        display: none;
    }
    header .top a:nth-of-type(3){
        display: none;
    }
    header .top a:nth-of-type(4){
        display: none;
    }
    .menu{
        display: block;
    }
    .menu-btn {
        position: relative;
        bottom:1.9rem;
        margin-left: auto;
        margin-right: 1rem;
        display: flex;
        height: 1rem;
        width: 1.9rem;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: rgb(142, 25, 189);
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 0.2rem;
        width: 1.6rem;
        border-radius: 0.2rem;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 0.5rem;
    }
    .menu-btn span:after {
        top: 0.5rem;
    }
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: rgb(142, 25, 189);
        transition: all 0.5s;
    }
    .menu-content a{
        color: #ffffff;
        font-size: 1.3rem;
    }
    .menu-content ul li:nth-of-type(1){
        margin:1.3rem;
    }
    .menu-content ul li:nth-of-type(2){
        font-size: 1.1rem;
        margin: 1.3rem 1.3rem 1.3rem 1.7rem;
        padding: 0.5rem;;
        border-bottom: solid #ffffff;
    }
    .menu-content ul li:nth-of-type(3){
        font-size: 1.1rem;
        margin: 1.3rem 1.3rem 1.3rem 1.7rem;
        padding: 0.5rem;
        border-bottom: solid #ffffff;
    }
    .menu-content ul li:nth-of-type(4){
        font-size: 1.1rem;
        margin: 1.3rem 1.3rem 1.3rem 1.7rem;
        padding: 0.5rem;
        border-bottom: solid #ffffff;
    }
    .menu-content ul li:nth-of-type(5){
        font-size: 1.1rem;
        margin: 1.3rem 1.3rem 1.3rem 1.7rem;
        padding: 0.5rem;
        border-bottom: solid #ffffff;
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    /*home-content*/
    .home-content{
        display: block;
        width: 100%;
        height: 100%;
        margin: 1rem 0 1rem 0;
    }
    .home-content img{
        display: none;
    }
    .home-content .text{
        width: 100%;
        padding: 0;
    }
    .home-content h1{
        font-size: 1rem;
        margin: 0 0 0 0.6rem;
        font-weight: bold;
        line-height: 1.3;
        text-align: center;
    }
    .home-content p{
        font-size: 0.8rem;
        margin: 1.3rem;
        line-height: 1.5;
    } 
    .home-content .name{
        margin: 1.3rem 0 1.9rem 15rem;
        font-size:1rem;
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    /*sub-content*/
    .sub-content{
        background-color: rgb(244, 243, 243);
        width: 100%;
        height: 100%;
    }
    .sub-content .container{
        display: block;
        margin: 0;
    }
    .sub-content img{
        width: 19rem;
        height: 11rem;
        margin: 1.3rem 0 0.6rem 0;
    }
    .sub-content .text{
        font-size:0.8rem;
        margin: 1rem 3.1rem 1rem 3.1rem;
    }
    .sub-content span{
        text-align: left;
    }
    .sub-content p{
        text-align: center;
    }
    
    /*footer*/
    .list1{
        margin: 1.3rem;
    }
    .list2{
        margin-left: 15.6rem;
    }
    .foot{
        padding: 0.6rem;
    }
}